@import url('https://fontes.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px 'Roboto', sans-serif;
    background-color: #F5F5F5;
    -webkit-font-smoothing: antialiased;
}

/* >>>>> AQUI SUA REGRA PARA H1 <<<<< */
h1 {
    color: #8EBD60;
}